*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #62a7c9;
  color: #001b44;
}

main {
    display:flex;
    flex-wrap: wrap;
}

 p {
font-size:25px ;
}

header {
    text-align: center;
    width:100%;
}

h1 {
    padding-top: 50px;
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }


button {
    width:200px;
    height: 100px;
    border-radius: 25px;
    box-shadow:black 0 2px 5px 2px;
    font-size: 25px;
}

.timeLeft {
    display: block;
    background-color: #e1d5d5;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow:black 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 29%;
}

#clockDisplay {
	width: 60%;
	height: 200px;
	border-radius: 8%;
	background-color: #e683f5;
	margin: auto;

}

.quizArea {
    display: block;
    background-color:	#e1d5d5;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow:black 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 69%;
  }
  
.quizArea li {
    padding: 8px 0px;
    border: #48b4ef 2px solid;
    text-align: center;
    border-radius: 20px;
    list-style: none
  }

.quizArea.hidden{
  display:none
  }

span {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 60px;
	text-align: center;
	font-size: 40px;
}

.scoreArea {
    display: block;
    background-color: #e1d5d5;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow:black 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 100%;
    }