*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #62a7c9;
  color: #001b44;

}

h1 {
    padding-top: 50px;
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }

#Answers.quizArea {
    display: block;
    background-color:	#e1d5d5;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 80vw;
  }
  
  
#Answers.quizArea li {
    padding: 8px 0px;
    border: #48b4ef 2px solid;
    text-align: center;
    border-radius: 20px;
    list-style: none
  }


/* #Answers.quizArea {
  display:none
  } */

span {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 60px;
	text-align: center;
	font-size: 40px;
}
