/* global elements for styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(rgb(39, 151, 243), 15%, rgb(104, 66, 228));
  color: #001b44;
}

main {
    display:flex;
    flex-wrap: wrap;
}

 p {
font-size:25px ;
}

header {
    text-align: center;
    width:100%;
}

h1 {
    padding: 40px 0px;
    text-align: center;
    border-radius: 25px;
    box-shadow:black 0 2px 5px 2px;
    background-color: #d0aaea;
}
  
h2 {
    text-align: center;
}

/* style to make button look like it can be clicked */
button {
    width:200px;
    height: 100px;
    border-radius: 25px;
    border: #ffffff;
    box-shadow: #000000 0 2px 5px 2px;
    background-color: #d0aaea;
    font-weight: bolder;
    border-style: outset;
    font-size: 25px;
}

/* countdown timer area styling */
.timeLeft {
    display: block;
    background-color: #d0aaea;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow:black 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 29%;
}

#clockDisplay {
	width: 60%;
	height: 200px;
	border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow:black 0 2px 4px 3px;
	background-color: #f2f590;
	margin: auto;

}

/* answers and questions styling including hidden class */
.quizArea {
    display: block;
    background-color:	#d0aaea;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow:black 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 69%;
    font-weight: bold;
}
  
.quizArea li {
    margin-top: 10px;
    padding: 20px;
    border: #ffffff 2px solid;
    box-shadow:black 0 2px 4px 3px;
    text-align: center;
    border-radius: 20px;
    list-style: none;
    border-style: outset;
}

.allAnswers {
  padding-bottom: 8px;
}

.quizArea.hidden{
  display:none
}

/* Score Area styling */
span {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 60px;
	text-align: center;
	font-size: 40px;
}

.scoreArea {
    display: block;
    background-color: #d0aaea;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow:black 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 100%;
}

.scoreArea p {
    text-align: center;
}